<manifest
	package="com.cs.networklibrary"
	xmlns:android="http://schemas.android.com/apk/res/android">

	<application
		android:allowBackup="true"
		android:label="@string/app_name"
		android:supportsRtl="true">
		<provider
			android:name="android.support.v4.content.FileProvider"
			android:authorities="${applicationId}.bga_update.file_provider"
			android:exported="false"
			android:grantUriPermissions="true">
			<meta-data
				android:name="android.support.FILE_PROVIDER_PATHS"
				android:resource="@xml/bga_upgrade_file_paths"/>
		</provider>
	</application>

</manifest>
